/*  censsacustbio - Update My Bio */


//			/skins/7.1.3/AAcss/global.css 
//			/skins/7.0.2/AAcss/censsacustbio.css

// Reviewed 12.04.2014 - MN



//


#bomachi_Styled.censsacustbio {

    #bomachi_Bdy {
        h3 {
            margin: 0;
            
            span {
                padding-left: 2em;
                font-size: .75em;
                font-weight: normal;
                font-style: italic;
            }
        }
    }

}
