/*	BOMA/Chicago Custom CSS for SSA pages
*		see also the ssaheader.js file
*	April 2014 (developed for AA v7.1.4)  */
/* BOMA/Chicago customizations to SSA pages */
#bomachi_Styled, #bomachi_Styled button,
#bomachi_Styled input,
#bomachi_Styled select,
#bomachi_Styled textarea, #censsacmpadminDispPageWrapper label, #aaCenssacustdirectoryprefDspTbl th, div#aaCenssamngempWizstep1,
div#aaCenssamngempDisplayEmp,
div#aaCenssamngempUpdateEmp, table.dataTable thead th,
table.dataTable tbody td, .aaEcmcustcommTbl {
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 1.4; }

#bomachi_Styled {
  color: black;
  background-color: rgba(0, 0, 0, 0); }

#bomachi_Styled .colHeadings {
  font-size: .9em;
  line-height: 1.55556;
  font-weight: bold;
  text-transform: uppercase; }

#bomachi_Styled #bomachi_Hdr {
  font-size: 1.1em;
  line-height: 1.27273; }

#bomachi_Styled #bomachi_Body h3 {
  font-weight: bold;
  text-transform: uppercase; }

#bomachi_Styled,
#bomachi_Styled *,
section,
section * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#bomachi_Styled {
  width: 99%;
  max-width: 624px;
  margin: 0 auto;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e1e1;
  border-radius: 4px;
  padding: 1% 1.5% 1.5% 1.5%; }
  #bomachi_Styled .pure-g,
  #bomachi_Styled .pure-g [class*="pure-u"],
  #bomachi_Styled .pure-g-r [class*="pure-u"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: normal; }
  #bomachi_Styled ul {
    list-style-type: none;
    padding: 0; }

.hide4now {
  visibility: hidden;
  display: none; }

#bomachi_Styled #bomachi_Hdr {
  width: 100%;
  margin: 1em auto 1.5em auto; }
  #bomachi_Styled #bomachi_Hdr .bomachi_pg_customer span {
    font-weight: bolder;
    padding-right: 1.25em; }
#bomachi_Styled #bomachi_Body {
  width: 100%; }
#bomachi_Styled #bomachi_Ftr {
  width: 100%;
  margin-top: 5em;
  text-align: center; }
#bomachi_Styled .centerText {
  text-align: center; }
#bomachi_Styled .colHeadings {
  text-align: center; }

#bomachi_Styled .pure-button {
  color: #39a3d7;
  font-weight: 600;
  padding: 0.35em 1.1em;
  border-radius: 5px; }
#bomachi_Styled .bomachi_centerButton {
  display: block;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
#bomachi_Styled .bomachi_rightButton {
  margin-top: 1em;
  text-align: center; }
#bomachi_Styled .buttonIsShadowed {
  -webkit-box-shadow: 4px 4px 7px #666;
  box-shadow: 4px 4px 7px #666; }
  #bomachi_Styled .buttonIsShadowed:active {
    -webkit-box-shadow: 2px 2px 4px #666;
    box-shadow: 2px 2px 4px #666;
    -webkit-transform: translate(2px, 2px);
    -ms-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }

#bomachi_Styled .tickmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
#bomachi_Styled .stem {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: black;
  left: 11px;
  top: 6px; }
#bomachi_Styled .kick {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: black;
  left: 8px;
  top: 12px; }

/*  censsacmpadmin - Company / Building Employee Administration */
#censsacmpadminDispPageWrapper label {
  margin-top: auto;
  width: auto; }
#censsacmpadminDispPageWrapper ul li {
  margin-top: auto;
  margin-bottom: auto; }

.aaCenssacmpadminDispEmpTbl a, .aaCenssacmpadminDispEmpTbl label, .aaCenssacmpadminDispEmpTbl p {
  line-height: 1.4; }

/*  censsaxxxprofile - Update My Profile */
#bomachi_tabbedContent {
  margin: 0;
  padding-top: 0; }
  #bomachi_tabbedContent h1, #bomachi_tabbedContent h2, #bomachi_tabbedContent h3, #bomachi_tabbedContent h4, #bomachi_tabbedContent p, #bomachi_tabbedContent pre, #bomachi_tabbedContent ul, #bomachi_tabbedContent li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent; }
  #bomachi_tabbedContent h1 {
    vertical-align: middle;
    padding-bottom: 20px; }
  #bomachi_tabbedContent #bomachi_vNav {
    height: 100%;
    border: 1px solid #DDD; }
    #bomachi_tabbedContent #bomachi_vNav ul {
      width: 100%;
      float: left;
      display: block;
      margin: auto 0 !important;
      padding: 0; }
      #bomachi_tabbedContent #bomachi_vNav ul li {
        list-style-type: none;
        display: block;
        text-shadow: 0px 1px 1px #F2F1F0;
        font-size: .85em;
        text-transform: uppercase;
        border-bottom: 1px solid #DDD;
        margin: 0;
        padding: 8px 10px !important;
        outline: 0;
        text-decoration: none;
        -webkit-transition-property: background color;
        transition-property: background color;
        -webkit-transition-duration: 0.12s;
        transition-duration: 0.12s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        background: whiteSmoke;
        /* Old browsers */
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
        background: -webkit-linear-gradient(top, white 0%, #f2f2f2 100%);
        background: linear-gradient(top, white 0%, #f2f2f2 100%);
        /* W3C */ }
      #bomachi_tabbedContent #bomachi_vNav ul li:hover {
        color: #39a3d7; }
      #bomachi_tabbedContent #bomachi_vNav ul li.current {
        color: #39a3d7;
        background: white !important;
        -webkit-box-shadow: inset 0 0 35px 5px #fafbfd;
        box-shadow: inset 0 0 35px 5px #fafbfd; }
      #bomachi_tabbedContent #bomachi_vNav ul li.last {
        border-bottom: none; }
  #bomachi_tabbedContent #bomachi_eachContent {
    line-height: 1.68; }
    #bomachi_tabbedContent #bomachi_eachContent div[data-bomachiTab] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding-left: 8px;
      margin-left: 0;
      background-color: #FFF;
      position: relative;
      z-index: 9;
      -webkit-box-shadow: inset 0 0 35px 5px #fafbfd;
      box-shadow: inset 0 0 35px 5px #fafbfd;
      display: none; }
    #bomachi_tabbedContent #bomachi_eachContent div.current {
      display: block; }
    #bomachi_tabbedContent #bomachi_eachContent .bomachi_attrname {
      font-weight: bolder;
      line-height: 1; }
    #bomachi_tabbedContent #bomachi_eachContent ul.aaCenssaprofileSubmit {
      display: inline-block;
      float: right;
      padding-top: 2px; }

/*  censsacmpprofile - Building Profile, Company Profile */
.aaCenssaprofileCmpHdrTbl {
  width: 100%;
  text-align: center; }
  .aaCenssaprofileCmpHdrTbl tbody,
  .aaCenssaprofileCmpHdrTbl tr {
    width: 100%; }
  .aaCenssaprofileCmpHdrTbl td {
    text-align: left; }

.aaCenssaprofileSubmit li label {
  display: none; }

#aaCenssaDispProfWrapper label {
  width: 45%; }
#aaCenssaDispProfWrapper label,
#aaCenssaDispProfWrapper p {
  margin-top: auto; }

.aaProfileDataWrapper + img {
  margin-top: -4px;
  padding-left: 1em; }

#aaCenssaprofileDispProfDtlLaborContracts,
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileDataWrapper,
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileDataWrapper p {
  width: 100%; }

#aaCenssaprofileDispProfDtlLaborContracts ul.aaFormFields {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #aaCenssaprofileDispProfDtlLaborContracts ul.aaFormFields li {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    display: list-item;
    min-height: 0; }
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttr {
  width: 25%;
  clear: left; }
  #aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttr label {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin-right: 0;
    width: 100%; }
  #aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttr aaInlineValidationWrapper {
    display: none; }
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrCvar {
  width: 60%; }
  #aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrCvar label {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin-right: 0;
    width: 100%; }
  #aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrCvar .aaInlineValidationWrapper {
    display: none; }
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrNvar {
  width: 15%; }
  #aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrNvar label {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin-right: 0;
    width: 100%; }
  #aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrNvar .aaInlineValidationWrapper {
    display: none; }
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrFile {
  clear: left;
  margin-bottom: 2em; }
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrNvar + .aaProfileAttr label,
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrNvar + .aaProfileAttr + .aaProfileAttrCvar label,
#aaCenssaprofileDispProfDtlLaborContracts .aaProfileAttrNvar + .aaProfileAttr + .aaProfileAttrCvar + .aaProfileAttrNvar label {
  display: none; }

/*  censsacustbio - Update My Bio */
#bomachi_Styled.censsacustbio #bomachi_Bdy h3 {
  margin: 0; }
  #bomachi_Styled.censsacustbio #bomachi_Bdy h3 span {
    padding-left: 2em;
    font-size: .75em;
    font-weight: normal;
    font-style: italic; }

/*  censsacustdirectorypref - Membership Directory Preferences */
/*  censsamngemp - Manage My Employment */
div#aaCenssamngempWizstep1,
div#aaCenssamngempDisplayEmp,
div#aaCenssamngempUpdateEmp {
  -webkit-box-shadow: none;
  box-shadow: none; }

div#aaCenssamngempWizstep1:before,
div#aaCenssamngempWizstep1:after,
div#aaCenssamngempDisplayEmp:before,
div#aaCenssamngempDisplayEmp:after,
div#aaCenssamngempUpdateEmp:before,
div#aaCenssamngempUpdateEmp:after {
  display: none; }

#aaCenssamngempUpdateEmp .aaLabel label {
  margin-top: auto; }

/*  cmtssaposlkup - Committee Member Lookup */
/*  ecmssacustcomm - Communication Preferences */
/*	End of BOMA/Chicago Custom CSS for SSA pages  */
